$base-yellow: #fcd116;
$y1: #ffe900;
$y2: #eee82c;
$y3: #f0e100;
$c1: #91cb3e;
$base-grey: #333333;
$base-black: #141414;

$p1_color1: #e8c547; /* maximum yellow red */
$p1_color2: #30323d; /* gunmetal */
$p1_color3: #c8c8c8; /* lavender gray */
$p1_color4: #fffbfe; /* white */
$p1_color5: #011638; /* maastricht blue */

$p2_color1: #fcd116; /* jonquil */
$p2_color2: #393e41; /* black olive */
$p2_color3: #2a2b2a; /* charleston green */
$p2_color4: #232528; /* dark gunmetal */
$p2_color5: #fdfdff; /* white */

$p3_color1: #fcd116; /* jonquil */
$p3_color2: #393e41; /* black olive */
$p3_color3: #000000; /* registration black */
$p3_color4: #232528; /* dark gunmetal */
$p3_color5: #fdfdff; /* white */

$p4_color1: #fcd116; /* jonquil */
$p4_color2: #393e41; /* black olive */
$p4_color3: #eeeeff; /* alice blue */
$p4_color4: #232528; /* dark gunmetal */
$p4_color5: #fdfdff; /* white */

$p5_color1: #fcd116; /* jonquil */
$p5_color2: #393e41; /* black olive */
$p5_color3: #cacfd6; /* light gray */
$p5_color4: #232528; /* dark gunmetal */
$p5_color5: #fdfdff; /* white */
@mixin mq($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

@mixin mq_h($size) {
	@media only screen and (max-height: $size) {
		@content;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}
