.desc-container {
    width: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq_min(1600px) {
        grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
        grid-template-rows: max-content;
        height: 100vh;
    }
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;

    @include mq(800px) {
        width: 100%;
    }

    .writer-container {
        @include mq(1600px) {
            width: 100vw;
        }
        @include mq_min(1600px) {
            height: 100vh;
        }
        height: 100%;
        display: grid;
        place-content: center;
        background: #ffeb39f2;
        opacity: 0;
        transform-origin: left;
    }
    .client-container {
        @include mq(1600px) {
            width: 100vw;
        }
        @include mq_min(1600px) {
            height: 100vh;
        }
        height: 100%;
        display: grid;
        place-content: center;
        background: #4b67ffcc;
        opacity: 0;
        transform-origin: right;
    }

    .desc {
        width: 35vw;
        transition: all 1s ease-in-out;
        padding-left: 5vw;

        @include mq_min(1600px) {
            padding-left: 0;
            padding-right: 0 !important;
        }

        @include mq(800px) {
            font-size: calc(
                10px + (16 - 10) * ((100vw - 300px) / (1600 - 300))
            );
            width: 100%;
            padding-left: 0;
            padding-bottom: 40px;
        }

        .title {
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 4px;
            font-size: calc(
                14px + (24 - 14) * ((100vw - 300px) / (1600 - 300))
            );
            position: relative;
            display: inline-block;
            padding: 10px 10px 10px 0;
        }
        .text {
            line-height: 2rem;
            letter-spacing: 2px;
            font-size: 120%;
            font-weight: 300;
            margin-top: 10px;
            padding: 6px 10px 10px 10px;
            text-align: justify;
            color: rgba($color: $base-black, $alpha: 0.8);
            font-family: "Poppins", sans-serif;
            p {
                margin: 0;
            }
        }

        .button {
            margin-top: 20px;
            border: 1px solid black;
            display: inline-block;
            line-height: 3em;
            width: 7em;
            text-align: center;
            letter-spacing: 2px;
            color: rgba($color: white, $alpha: 0.8);
            background: $base-black;
            font-size: calc(
                10px + (16 - 10) * ((100vw - 300px) / (1600 - 300))
            );
        }
    }

    img {
        object-fit: contain;

        @include mq_min(1600px) {
            align-self: flex-end;
        }

        @include mq(700px) {
            width: 45vw;
            align-self: flex-end;
        }
    }
    .writer {
        display: flex;
        flex-direction: row;
        animation-delay: 500ms;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: relative;
        padding: 100px 0;
        animation-delay: 3s;

        @include mq_min(1600px) {
            flex-direction: column-reverse;
        }

        @include mq(800px) {
            flex-direction: column-reverse;
            margin: 0 25px;
        }
    }
    .client {
        display: flex;
        flex-direction: row;
        animation-delay: 500ms;
        opacity: 0;
        transition: all 1s ease-in-out;
        position: relative;
        padding: 100px 0;
        animation-delay: 3s;

        @include mq_min(1600px) {
            flex-direction: column;
        }

        @include mq(800px) {
            flex-direction: column;
            margin: 0 25px;
        }
        .desc {
            padding-left: 0;
            padding-right: 5vw;
        }
    }
}

.fadeInLeft,
.fadeInRight,
.fadeInDown,
.fadeInUp {
    opacity: 1;
}

@keyframes padding_10px_blue {
    from {
        padding-left: 0;
        background: white;
        color: black;
    }
    to {
        padding-left: 10px;
        background: rgb(22, 36, 73);
        color: rgba($color: white, $alpha: 0.9);
    }
}
@keyframes padding_10px_yellow {
    from {
        padding-left: 0;
        background: white;
        color: black;
    }
    to {
        padding-left: 10px;
        background: #f9d016;
        color: rgba($color: white, $alpha: 0.9);
    }
}

@keyframes bg_lblue {
    from {
        background: white;
    }
    to {
        background: rgba($color: #dee3ec, $alpha: 0.9);
    }
}
@keyframes bg_lyellow {
    from {
        background: white;
    }
    to {
        background: rgba($color: #f9f6de, $alpha: 0.9);
    }
}

@keyframes bg_expand {
    from {
        opacity: 1;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}
