.desc-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;

    > div {
        position: relative;
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: auto max-content 1fr;
        grid-gap: 4rem;
        place-content: center;
        padding: 5rem 0 4rem 0;
        &.writer {
            background: #ffec43;
        }
        &.client {
            background: #6f85ff;
        }

        .title {
            position: relative;
            text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            text-align: center;
            font-size: calc(
                36px + (48 - 36) * ((100vw - 300px) / (1920 - 300))
            );
            font-weight: 600;
            color: white;
            letter-spacing: 2px;
        }

        .desc {
            position: relative;
            max-width: 500px;
            width: calc(300px + (500 - 300) * ((100vw - 300px) / (1920 - 300)));
            border-radius: 25px;
            background: rgba($color: #fff, $alpha: 0.96);
            box-shadow: rgba($color: #000, $alpha: 0.16) 0px 0px 99px;
            display: grid;
            place-content: center;

            .text {
                position: relative;
                width: 90%;
                margin: auto;
                display: grid;
                place-content: center;

                @include mq_min(1200px) {
                    width: 80%;
                }

                p {
                    position: relative;
                    font-weight: 300;
                    font-family: "Poppins", sans-serif;
                    text-align: center;
                    letter-spacing: 1px;
                    font-size: calc(
                        16px + (20 - 16) * ((100vw - 300px) / (1920 - 300))
                    );
                    line-height: calc(
                        25px + (30 - 25) * ((100vw - 300px) / (1920 - 300))
                    );
                }
            }
        }

        img {
            position: relative;
            justify-self: center;
            filter: drop-shadow(0 0 40px rgba($color: #000000, $alpha: 0.4));
            width: 40%;
        }
    }
}
