$footer-gray-8: #888888;
$footer-gray-9: #999999;
$footer-light-gray: #bfbfbf;

footer {
    position: relative;
    width: 100vw;
    display: grid;
    place-content: center;

    @include mq_min(1200px) {
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .about-us {
        background: $footer-light-gray;
        .container {
            display: grid;
            grid-template-columns: max-content;

            @include mq_min(1200px) {
                grid-template-columns: max-content 1fr;
                padding: 4rem;
            }

            .title {
                font-family: "Raleway", sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                font-size: calc(
                    50px + (72 - 50) * ((100vw - 300px) / (1920 - 300))
                );
            }
            .content {
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                font-size: calc(
                    18px + (24 - 18) * ((100vw - 300px) / (1920 - 300))
                );
                text-transform: none;
            }
        }
    }

    .bottom-wrapper {
        width: 100%;
        background: #262626;
        display: grid;
        text-transform: uppercase;
        place-content: center;

        .bottom {
            width: 100%;
            display: grid;
            grid-template-rows: auto auto auto;
            position: relative;

            @include mq_min(1200px) {
                grid-template-columns: 2fr 1fr 1fr;
            }

            > .title {
                margin: auto;
                text-align: center;
                grid-column: span 1;
                position: relative;
                color: $footer-light-gray;
                font-family: "Raleway", sans-serif;
                font-size: calc(
                    50px + (72 - 50) * ((100vw - 300px) / (1920 - 300))
                );
                text-transform: capitalize;
                font-weight: 600;
                align-self: center;

                @include mq(750px) {
                    grid-column: span 2;
                    padding-bottom: 2.5rem;
                }
            }

            .social-wrapper {
                grid-row: 2/3;
                grid-column: 1/2;
                display: grid;
                place-content: center;
                .social {
                    display: flex;
                    > div {
                        padding: 0 1rem;
                        .svg {
                            height: 25px !important;
                            width: 25px !important;
                            path {
                                fill: $footer-gray-8;
                            }
                        }
                    }
                }
            }

            .info {
                color: $footer-gray-8;
                grid-column: 1/2;
                grid-row: 3/4;
                text-transform: none;
                font-family: "Raleway", sans-serif;
                font-size: calc(
                    10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))
                );
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            .quick-links {
                .contain {
                    position: relative;
                    font-family: "Raleway", sans-serif;
                    display: inline-flex;
                    flex-direction: column;

                    .title {
                        text-transform: uppercase;
                        font-weight: 800;
                        font-size: calc(
                            12px + (18 - 12) * ((100vw - 300px) / (1600 - 300))
                        );
                        position: relative;
                        color: $footer-gray-8;
                        text-align: left;
                    }
                    .links {
                        position: relative;

                        div {
                            position: relative;

                            a {
                                text-decoration: none;

                                opacity: 0.6;
                                font-size: 120%;
                                font-weight: 400;
                                color: $footer-gray-9;
                                line-height: 2.5rem;
                                letter-spacing: 1px;
                                position: relative;
                                text-transform: capitalize;
                                transition: all 0.3s ease-in;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .address-wrapper {
                grid-column: 3/4;
                font-size: 80%;

                .address {
                    display: flex;
                    letter-spacing: 2px;
                    flex-direction: column;
                    padding: 0 0 20px 0;

                    .address-text {
                        color: $footer-gray-9;
                        font-weight: 300;

                        .title {
                            font-family: "Raleway", sans-serif;
                            text-transform: uppercase;
                            font-weight: 800;
                            font-size: calc(
                                12px + (18 - 12) *
                                    ((100vw - 300px) / (1600 - 300))
                            );
                            position: relative;
                            color: $footer-gray-8;
                            text-align: left;
                        }

                        p {
                            margin: 0 0;
                            text-align: left;
                            line-height: 2rem;
                            font-family: "Raleway", sans-serif;
                            font-weight: 400;
                            font-size: calc(
                                10px + (14 - 10) *
                                    ((100vw - 300px) / (1600 - 300))
                            );
                        }
                    }
                }
            }

            .phone {
                .content {
                    font-family: "Raleway", sans-serif;
                    .name {
                        color: $footer-light-gray;
                        text-transform: uppercase;
                        padding-bottom: 0.5rem;
                    }
                    .mail {
                        display: flex;
                        align-items: flex-end;

                        .svg {
                            height: 20px !important;

                            path {
                                fill: $footer-gray-9;
                            }
                        }
                        color: $footer-gray-9;
                        text-transform: lowercase;

                        span {
                            display: block;
                            padding-left: 0.5rem;
                        }
                    }
                }
                &.anirudh {
                    grid-row: 3/4;
                    grid-column: 2/3;
                }

                &.rishabh {
                    grid-row: 3/4;
                    grid-column: 3/4;
                }
            }
        }
    }
}

@keyframes fadeInUp_20px {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}
