.bg--card2__wrapper {
    padding: 15vh 5vw;
    display: grid;
    grid-template-columns: max-content 1fr;

    @include mq(700px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 30px;
    }
    .trio_svg {
        padding: 0 5vw;
        display: grid;
        place-content: center;
        .writer {
            width: 25vw;

            @include mq(700px) {
                width: 40vw;
            }
        }
    }
}

#newAtPepper {
    position: relative;
    text-align: center;
    width: 100%;
    overflow-x: hidden;

    @include mq(600px) {
        font-size: 80%;
    }

    section {
        position: relative;
        margin-top: 10%;
        display: inline-block;
        font-size: calc(12px + (28 - 12) * ((100vw - 300px) / (1600 - 300)));
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 3.5px;
        font-weight: 400;
        cursor: default;
        text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
            10px 15px 5px rgba(0, 0, 0, 0.05),
            -10px 15px 5px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in-out;

        @include mq(900px) {
            width: 50vw;
        }

        &::before {
            content: "";
            position: absolute;
            top: -15px;
            bottom: -15px;
            left: -15px;
            right: -15px;
            z-index: 0;
            border: 2px solid $base-black;
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
                10px 15px 5px rgba(0, 0, 0, 0.05),
                -10px 15px 5px rgba(0, 0, 0, 0.05);
            transition: all 300ms ease-in-out;
        }

        &:hover {
            text-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1),
                10px 25px 5px rgba(0, 0, 0, 0.05),
                -10px 25px 5px rgba(0, 0, 0, 0.05);

            &::before {
                box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1),
                    10px 25px 5px rgba(0, 0, 0, 0.05),
                    -10px 25px 5px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.carouselNAP {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    .carousel {
        position: relative;
        padding: 0;
        counter-reset: counter-name;
        display: flex;
        height: calc(230px + (450 - 200) * ((100vw - 300px) / (1600 - 300)));

        .card {
            width: calc(150px + (400 - 150) * ((100vw - 300px) / (1600 - 300)));
            height: calc(
                200px + (400 - 200) * ((100vw - 300px) / (1600 - 300))
            );
            margin: auto;
            position: relative;
            perspective: 150em;
            transition: all 0.5s ease-in-out;
            box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
            animation: boxShadowAnimRev 0.5s ease;
            border-radius: 4%;

            &:not(:first-child) {
                margin-left: -100px;
            }

            &:hover {
                transform: translateY(-20px);
                animation: boxShadowAnim 0.5s ease;
                ~ .card {
                    position: relative;
                    transform: translateX(90px);
                    transition: 0.5s ease-in-out;
                }
                .card__side--front {
                    transform: rotateY(-180deg);
                }

                .card__side--back {
                    transform: rotate(0);
                }
            }

            &__side {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: all 0.6s ease;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: 4%;

                &--front {
                    &-1 {
                        background-image: linear-gradient(
                            to right bottom,
                            $color-primary-light,
                            $color-primary-dark
                        );
                    }

                    &-2 {
                        background-image: linear-gradient(
                            to right bottom,
                            $color-tertiary-light,
                            $color-tertiary-dark
                        );
                    }

                    &-3 {
                        background-image: linear-gradient(
                            to right bottom,
                            $color-secondary-light,
                            $color-secondary-dark
                        );
                    }

                    .card__description {
                        text-transform: uppercase;
                        color: white;
                        font-family: "Poppins", sans-serif;
                        letter-spacing: 3px;
                        font-size: calc(
                            18px + (32 - 18) * ((100vw - 300px) / (1600 - 300))
                        );
                        position: relative;
                        top: 50%;
                        left: 5%;
                        transform: translateY(-50%);
                        writing-mode: vertical-lr;
                        transform: rotate(-180deg) translateY(50%);
                        // width: 70%;
                        // margin: auto;
                        font-weight: 500;

                        // &::before {
                        //     content: "";
                        //     position: absolute;
                        //     right: 0;
                        //     bottom: 0;
                        //     top: 0;
                        //     width: 1px;
                        //     background: white;
                        // }
                    }
                }

                &--back {
                    color: #fff;
                    transform: rotateY(180deg);

                    &-1 {
                        background-image: linear-gradient(
                            to right bottom,
                            $color-primary-light,
                            $color-primary-dark
                        );
                    }

                    &-2 {
                        background-image: linear-gradient(
                            to right bottom,
                            $color-tertiary-light,
                            $color-tertiary-dark
                        );
                    }

                    &-3 {
                        background-image: linear-gradient(
                            to right bottom,
                            $color-secondary-light,
                            $color-secondary-dark
                        );
                    }

                    .card__description {
                        color: white;
                        font-family: "Poppins", sans-serif;
                        letter-spacing: 1px;
                        font-size: calc(
                            10px + (20 - 10) * ((100vw - 300px) / (1600 - 300))
                        );
                        padding: 1em 0;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 70%;
                        margin: auto;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    // .active {
    //     opacity: 1;
    // }
}

@keyframes boxShadowAnim {
    0% {
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0);
    }
}

@keyframes boxShadowAnimRev {
    0% {
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0);
    }
    90% {
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    }
}
