.trio_svg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .writer {
        grid-column: 1/2;
        max-height: 100%;
    }

    .editor {
        grid-column: 2/3;
        max-height: 100%;
    }

    .client {
        grid-column: 3/4;
        max-height: 100%;
    }
    //     position: relative;
    //     top: -10vh;
    //     width: 100vw;
    //     img {
    //         max-height: 100%;
    //     }
}

#newAtPepper {
    padding: 7em 0 0 0;
    position: relative;
    top: 16%;
    width: 100%;
    display: grid;
    place-content: center;

    @include mq(600px) {
        font-size: 80%;
    }

    section {
        position: relative;
        font-size: 180%;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 3.5px;
        font-weight: 400;
        cursor: default;
        text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
            10px 15px 5px rgba(0, 0, 0, 0.05),
            -10px 15px 5px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in-out;

        @include mq(900px) {
            width: 50vw;
        }

        &::before {
            content: "";
            position: absolute;
            top: -15px;
            bottom: -15px;
            left: -15px;
            right: -15px;
            z-index: 0;
            border: 2px solid $base-black;
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
                10px 15px 5px rgba(0, 0, 0, 0.05),
                -10px 15px 5px rgba(0, 0, 0, 0.05);
            transition: all 300ms ease-in-out;
        }

        &:hover {
            text-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1),
                10px 25px 5px rgba(0, 0, 0, 0.05),
                -10px 25px 5px rgba(0, 0, 0, 0.05);

            &::before {
                box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1),
                    10px 25px 5px rgba(0, 0, 0, 0.05),
                    -10px 25px 5px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.carouselNAP {
    position: relative;
    display: block;
    top: 20%;
    ul {
        position: relative;
        width: 60vw;
        height: 200px;
        margin: 0.5vh 20vw;
        padding: 0;
        @include mq(600px) {
            width: 80vw !important;
            margin: 0.2vh 10vw;
        }
    }

    ul > li {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        list-style-type: none;
        position: absolute;
        top: 0;
        padding: 20px;
        height: 200px;
        opacity: 0;
        padding-top: 25px;
        text-align: center;
        transition: 1s opacity;

        @include mq(900px) {
            width: 50% !important;
        }

        @include mq(600px) {
            padding: 10px !important;
        }
    }

    .active {
        opacity: 1;
    }

    p {
        font-size: 13px;
        color: $base-black;
        line-height: 1.5rem;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
            10px 15px 5px rgba(0, 0, 0, 0.05),
            -10px 15px 5px rgba(0, 0, 0, 0.05);
    }

    strong {
        color: $base-black;
        font-weight: 500;
        font-size: 60px;
        line-height: 100px;
        font-family: "Montserrat", sans-serif;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: $base-black;
        }

        @include mq(600px) {
            font-size: 40px !important;
        }
        @include mq(400px) {
            line-height: 60px !important;
        }
    }
}
