@import "abstracts";
@import "palette";

.portfolio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// portfolio
.portfolio-title {
    position: relative;
    z-index: 1;
    color: black;
    display: grid;
    place-content: center;
    background: rgba($color: #000000, $alpha: 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 15px;
    width: 100%;
    margin: 0;
    font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: "Raleway", sans-serif;
    padding: 2rem 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;

    span {
        font-weight: bolder;
    }
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    padding: 2rem;
    min-height: 0;
    min-width: 0;
    grid-gap: 2.5rem;
    width: 90%;
    margin: auto;
    overflow: hidden;
    max-height: 100%;

    @include mq(800px) {
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, 50px);
        place-content: center;
        width: 100%;
        padding: 1rem;
    }

    img {
        width: 100%;
        display: block;
        transition: opacity ease-out 250ms;
        object-fit: fill;
    }

    // > img {    // > img {    // > img {    // > img {
    //     &:nth-child(6) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(31) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(43) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(56) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(59) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(60) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    // }

    //     &:nth-child(6) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(31) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(43) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(56) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(59) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(60) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    // }

    //     &:nth-child(6) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(31) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(43) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(56) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(59) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(60) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    // }

    //     &:nth-child(6) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(31) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(43) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(56) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(59) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    //     &:nth-child(60) {
    //         grid-row: span 2;
    //         grid-column: span 2;
    //     }
    // }
}
