.svg-end {
    display: none;
}

.res-menu {
    &__nav-logo {
        position: absolute;
        top: 2vh;
        left: 30px;
        fill: rgba($color: whitesmoke, $alpha: 1);
        transform-origin: bottom;
    }
}

@keyframes svgLogo {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.big_logo {
    position: absolute;

    @include mq(1200px) {
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    @include mq_min(1200px) {
        right: 0;
        top: 2%;
    }
    img {
        position: relative;
        right: 0;
        top: 2vh;
        height: 100vh;

        @include mq(1000px) {
            top: 0;
            height: 40vh;
        }
    }
}
