.bg--card5_wrapper {
    display: grid;
    grid-template-columns: 40vw 60vw;
    align-items: center;
    padding-top: 15vh;
    margin: 0 0;

    .client-svg {
        width: 100%;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
}

/* ---------------------- */
/*       TESTIMONIAL      */
/* ---------------------- */

#testimonial {
    padding: 130px 0 95px;
    z-index: 300;
}

.testy-title {
    font-size: 5.5vw;
    font-weight: bolder;
    opacity: 0.7;
    text-transform: capitalize;
    position: relative;
    top: 1%;
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
}
.ts-testimonial-slide {
    text-align: center;
    width: 60% !important;
    margin: 0 auto;
    // border-top: 1px solid black;
    p {
        font-size: 120%;
        line-height: 150%;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 35px;
        color: rgba($color: #000000, $alpha: 0.6);
        letter-spacing: 1px;
        position: relative;
    }
    .ts-testimonial-item {
        margin-bottom: 15px;

        .client-name {
            padding-left: 38px;
            font-size: 12.8px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: "Montserrat";
            display: block;
            line-height: normal;
            white-space: nowrap;
            color: black;
        }

        .infor-client {
            display: inline-block;
            margin: 0 auto;
            width: auto;
        }

        .icon-client {
            width: 29px;
            height: 29px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            float: left;
            text-align: center;
            line-height: 29px;
            margin-top: 2px;
        }

        .client-position {
            font-size: 12px;
            line-height: normal;
            padding-left: 38px;
            display: block;
            text-align: left;
            color: black;

            a {
                color: black;
                &:hover {
                    color: #5ed9e7;
                }
            }
        }
    }
}
