$base-yellow: #fcd116;
$base-grey: #333333;
$base-black: #141414;
$base-orange: #f7a306;
$base-white: #f5f5f5;

@import "abstracts";
@import "nav";
@import "pepper-text";
@import "falling-letters";
@import "portfolio";
@import "new-at-pepper";
@import "res-menu";
@import "testimonials";
@import "contact-form";
@import "footer";
@import "exhibit";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    cursor: default;
}

.bg-card {
    display: block;
    position: relative;

    &--card1 {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: $base-orange;
    }

    &--card2 {
        width: 100vw;
        min-height: 100vh;
        background-size: cover;
        background: #fafafa;
        display: grid;
        place-content: center;
    }

    &--card4 {
        width: 100vw;
        position: relative;
        background-color: rgba($color: $p5_color5, $alpha: 1);

        @media only screen and (max-device-height: 600px) {
            margin-top: 50px !important;
        }
    }

    &--card5 {
        background: #5af158;
    }
}

.scroll-progress-bar {
    position: fixed;
    top: 7vh;
    left: 0;
    height: 4px;
    background: $base-black;
}
