/* maximum yellow red */
/* gunmetal */
/* lavender gray */
/* white */
/* maastricht blue */
/* jonquil */
/* black olive */
/* charleston green */
/* dark gunmetal */
/* white */
/* jonquil */
/* black olive */
/* registration black */
/* dark gunmetal */
/* white */
/* jonquil */
/* black olive */
/* alice blue */
/* dark gunmetal */
/* white */
/* jonquil */
/* black olive */
/* light gray */
/* dark gunmetal */
/* white */
/* Smartphones (portrait and landscape) ----------- */
@import url("https://fonts.googleapis.com/css?family=Abel");
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  background: rgba(252, 209, 22, 0);
  z-index: 500;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
}

.topnav__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
  letter-spacing: 2px;
  display: none;
}

.topnav__nav-links li {
  list-style-type: none;
  position: relative;
  margin: 0 20px;
}

.topnav__nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #141414;
  letter-spacing: 3px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.topnav__nav-links li a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.topnav__nav-links li a::before {
  content: "";
  display: block;
  background-color: #141414;
  position: absolute;
  bottom: -14px;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
}

@media only screen and (max-width: 1024px) {
  .topnav__nav-links {
    display: none;
  }
}

.topnav__burger {
  width: 25px;
  position: relative;
  right: 25px;
  z-index: 11;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 1924px) {
  .topnav__burger {
    display: block !important;
  }
}

.topnav__burger span {
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: #141414;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.topnav__burger span:nth-child(1) {
  margin-top: 0px;
}

.topnav__burger span:nth-child(2) {
  margin-top: 5px;
}

.topnav__burger span:nth-child(3) {
  margin-top: -3px;
}

.topnav__burger span:nth-child(4) {
  margin-top: 5px;
}

.open span {
  background: white !important;
}

.open span:nth-child(1) {
  width: 0% !important;
  left: 50% !important;
}

.open span:nth-child(2) {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.open span:nth-child(4) {
  width: 0% !important;
  left: 50% !important;
}

.nav-active {
  display: none;
}

.res-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.res-menu__red {
  margin: 30vh 20vw 40vh 20vw;
  display: inline-block;
}

.res-menu__red li {
  display: -ms-grid;
  display: grid;
  padding: 2vh 0;
  position: relative;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.res-menu__red li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.res-menu__red li:hover a {
  color: black;
}

.res-menu__red li:hover::before {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

.res-menu__red li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 130%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.res-menu__lang {
  position: fixed;
  bottom: 5vh;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80vw;
  margin: 0 10vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0;
}

@media only screen and (max-width: 500px) {
  .res-menu__lang {
    bottom: 10vh;
  }
}

.res-menu__lang li {
  display: -ms-grid;
  display: grid;
  place-content: center;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.res-menu__lang li a {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  font-size: 100%;
}

.res-menu__lang li a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.res-menu__lang li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.res-menu__social {
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
  height: 3vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media only screen and (max-width: 500px) {
  .res-menu__social {
    bottom: 8vh;
  }
}

.res-menu__social .container i {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.res-menu__social .container i:hover {
  color: white;
}

.res-menu--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes langLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes langLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.svg-end {
  display: none;
}

.topnav__nav-logo {
  position: absolute;
  height: 7vh;
  width: 7vh;
  left: 1.5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #141414;
}

.res-menu__nav-logo {
  position: absolute;
  top: 2vh;
  left: 30px;
  fill: whitesmoke;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes svgLogo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes svgLogo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.big_logo {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  top: 6vh;
  padding-right: 6vw;
  overflow: hidden;
  fill: rgba(20, 20, 20, 0.4);
}

@media only screen and (max-width: 1000px) {
  .big_logo {
    left: 3vw !important;
  }
}

footer {
  background: #141414;
  overflow-y: hidden;
  z-index: 300;
  position: relative;
  text-transform: uppercase;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  font-family: 'Montserrat', sans-serif;
}

.footer-bg {
  margin-bottom: 0;
  width: 100%;
  padding: 5vh 3vw 3vh 3vw;
  max-width: 100vw;
  height: auto;
  background: rgba(0, 0, 0, 0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .footer-bg {
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    grid-row-gap: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
}

.footer-bg .query-form {
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .footer-bg .contact-form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    width: 40vw;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg .contact-form {
    width: 80vw;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
    grid-gap: 60px;
  }
}

.footer-bg .quick-links {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  .footer-bg .quick-links {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg .quick-links {
    display: none;
  }
}

.footer-bg .quick-links .title {
  color: white;
  font-size: 150%;
  position: relative;
  letter-spacing: 4px;
}

.footer-bg .quick-links .title::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background: white;
}

.footer-bg .quick-links ul {
  padding: 0;
  padding-top: 10px;
}

.footer-bg .quick-links ul li {
  list-style: none;
}

.footer-bg .quick-links ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  font-size: 120%;
  line-height: 3rem;
  letter-spacing: 3px;
  position: relative;
}

.footer-bg .contact-details {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  font-size: 80%;
}

@media only screen and (max-width: 1000px) {
  .footer-bg .contact-details {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg .contact-details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.footer-bg .contact-details .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 0 0 20px 0;
}

.footer-bg .contact-details .address .icon {
  margin-bottom: 5px;
}

.footer-bg .contact-details .address .address-text {
  color: white;
  font-weight: 300;
}

.footer-bg .contact-details .address .address-text p {
  margin: 0 0;
  text-align: right;
  line-height: 2rem;
}

.footer-bg .contact-details .phone {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 20px 0;
}

.footer-bg .contact-details .phone p {
  text-align: right;
  line-height: 1.8rem;
  letter-spacing: 3px;
  font-weight: 300;
}

.footer-bg .contact-details .phone p text {
  text-transform: lowercase;
}

.footer-bg .social {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .footer-bg .social {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg .social {
    display: none;
  }
}

.footer-bg .social div {
  margin-left: 15px;
}

.footer-bg .social div img {
  width: 30px;
}

.footer-bg .logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

@media only screen and (max-width: 1000px) {
  .footer-bg .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg .logo {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.footer-bg .logo img {
  height: 100px;
  margin-top: 40px;
}

.footer-bg .info {
  color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 1000px) {
  .footer-bg .info {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 750px) {
  .footer-bg .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .footer-bg .info p {
    text-align: right;
  }
}

@-webkit-keyframes fadeInUp_20px {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp_20px {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes moveUp {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.query-form {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.contact-form {
  width: 30vw;
  vertical-align: baseline;
  background: #f7f7f7;
  padding: 1.5vh 2.5vw;
}

.contact-form input {
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0 14px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  color: #5f5f5f;
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

.contact-form textarea {
  text-rendering: auto;
  text-transform: none;
  display: inline-block;
  text-align: start;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
  -o-border-image: initial;
     border-image: initial;
  padding: 2px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  padding: 10px 0 14px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  color: #5f5f5f;
  margin: 0;
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

.contact-form .button {
  border: 0;
  padding: 0 45px;
  color: #fff;
  font-size: 10px;
  line-height: 51px;
  height: 51px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #202020;
  display: inline-block;
  width: auto;
  cursor: pointer;
  position: relative;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50rem;
  background-color: #777;
  z-index: 1;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-6 {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 600px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    font-size: 1rem;
    line-height: 1.2;
  }
  .featurette-heading {
    font-size: 10px;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

html,
body {
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: relative;
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#fff));
  background: linear-gradient(#f8f8f8, #fff);
  -webkit-box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dE685E), to(#EE786E));
  background: linear-gradient(#dE685E, #EE786E);
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: -webkit-gradient(linear, left top, left bottom, from(#92bCa6), to(#A2CCB6));
  background: linear-gradient(#92bCa6, #A2CCB6);
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  top: 10%;
  right: -2px;
  /* border-left: 2px solid rgba(0,0,0,0.025) */
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 80%;
}

.card .additional .user-card svg {
  margin-top: 20%;
  left: 15%;
}

.card .additional .more-info {
  width: 40rem;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 40rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

/*Trial Card top*/
.date__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
}

.date__box .date__day {
  font-size: 22px;
}

.blog-card {
  padding: 30px;
  position: relative;
}

.blog-card .date__box {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.blog-card .blog-card__background,
.blog-card .card__background--layer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-card .blog-card__background {
  padding: 15px;
  background: white;
}

.blog-card .card__background--wrapper {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  position: relative;
  overflow: hidden;
}

.blog-card .card__background--main {
  height: 100%;
  position: relative;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card .card__background--layer {
  z-index: 0;
  opacity: 0;
  background: rgba(51, 51, 51, 0.9);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.blog-card .blog-card__head {
  height: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-card .blog-card__info {
  z-index: 10;
  background: white;
  padding: 20px 15px;
}

.blog-card .blog-card__info h5 {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.blog-card:hover .date__box {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.blog-card:hover .card__background--main {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}

.blog-card:hover .card__background--layer {
  opacity: 1;
}

.blog-card:hover .blog-card__info h5 {
  color: #ffb535;
}

a.icon-link {
  color: #363738;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

a.icon-link i {
  color: #ffb535;
}

a.icon-link:hover {
  color: #ffb535;
  text-decoration: none;
}

.btn {
  background: white;
  color: #363738;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0;
  border: none;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  background: #ffb535;
  color: #fff;
}

.btn.btn--with-icon {
  padding-right: 20px;
}

.btn.btn--with-icon i {
  padding: 0px 30px 0px 15px;
  margin-right: 10px;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
  color: white;
  background: #ffb535;
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.btn.btn--only-icon {
  width: 50px;
}
/*# sourceMappingURL=blog.css.map */