@import "abstracts";
@import "nav";
@import "res-menu";
@import "svg";
.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    width: 40vw;
    margin-left: 10vw;

    .header {
        // grid-column: 1/2;
        // grid-row: 1/2;
        display: grid;
        place-content: center;
        .title {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: "Montserrat", sans-serif;
            font-size: 3em;
            font-weight: 300;
        }
    }

    .para {
        // grid-column: 1/2;
        // grid-row: 2/3;
        padding: 30px 0;
        font-family: "Montserrat", sans-serif;
        line-height: 2em;
        text-align: justify;
        p {
            padding-left: 10px;
        }
    }

    .bullets {
        // grid-column: 1/2;
        // grid-row: 3/4;
        ul {
            // padding: 10px;
            li {
                line-height: 3em;
            }
        }
    }
}
