/* maximum yellow red */
/* gunmetal */
/* lavender gray */
/* white */
/* maastricht blue */
/* jonquil */
/* black olive */
/* charleston green */
/* dark gunmetal */
/* white */
/* jonquil */
/* black olive */
/* registration black */
/* dark gunmetal */
/* white */
/* jonquil */
/* black olive */
/* alice blue */
/* dark gunmetal */
/* white */
/* jonquil */
/* black olive */
/* light gray */
/* dark gunmetal */
/* white */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  background: rgba(252, 209, 22, 0);
  z-index: 500;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
}

.topnav__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
  letter-spacing: 2px;
  display: none;
}

.topnav__nav-links li {
  list-style-type: none;
  position: relative;
  margin: 0 20px;
}

.topnav__nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #141414;
  letter-spacing: 3px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.topnav__nav-links li a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.topnav__nav-links li a::before {
  content: "";
  display: block;
  background-color: #141414;
  position: absolute;
  bottom: -14px;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
}

@media only screen and (max-width: 1024px) {
  .topnav__nav-links {
    display: none;
  }
}

.topnav__burger {
  width: 25px;
  position: relative;
  right: 25px;
  z-index: 11;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 1924px) {
  .topnav__burger {
    display: block !important;
  }
}

.topnav__burger span {
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: #141414;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.topnav__burger span:nth-child(1) {
  margin-top: 0px;
}

.topnav__burger span:nth-child(2) {
  margin-top: 5px;
}

.topnav__burger span:nth-child(3) {
  margin-top: -3px;
}

.topnav__burger span:nth-child(4) {
  margin-top: 5px;
}

.open span {
  background: white !important;
}

.open span:nth-child(1) {
  width: 0% !important;
  left: 50% !important;
}

.open span:nth-child(2) {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.open span:nth-child(4) {
  width: 0% !important;
  left: 50% !important;
}

.nav-active {
  display: none;
}

.res-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.res-menu__red {
  margin: 30vh 20vw 40vh 20vw;
  display: inline-block;
}

.res-menu__red li {
  display: -ms-grid;
  display: grid;
  padding: 2vh 0;
  position: relative;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.res-menu__red li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  z-index: -1;
}

.res-menu__red li:hover a {
  color: black;
}

.res-menu__red li:hover::before {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

.res-menu__red li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  font-size: 130%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.res-menu__lang {
  position: fixed;
  bottom: 5vh;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80vw;
  margin: 0 10vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0;
}

@media only screen and (max-width: 500px) {
  .res-menu__lang {
    bottom: 10vh;
  }
}

.res-menu__lang li {
  display: -ms-grid;
  display: grid;
  place-content: center;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.res-menu__lang li a {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  font-size: 100%;
}

.res-menu__lang li a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.res-menu__lang li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.res-menu__social {
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
  height: 3vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media only screen and (max-width: 500px) {
  .res-menu__social {
    bottom: 8vh;
  }
}

.res-menu__social .container i {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.res-menu__social .container i:hover {
  color: white;
}

.res-menu--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes langLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes langLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.svg-end {
  display: none;
}

.topnav__nav-logo {
  position: absolute;
  height: 7vh;
  width: 7vh;
  left: 1.5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #141414;
}

.res-menu__nav-logo {
  position: absolute;
  top: 2vh;
  left: 30px;
  fill: whitesmoke;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes svgLogo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes svgLogo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.big_logo {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  top: 6vh;
  padding-right: 6vw;
  overflow: hidden;
  fill: rgba(20, 20, 20, 0.4);
}

@media only screen and (max-width: 1000px) {
  .big_logo {
    left: 3vw !important;
  }
}

.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container.landing {
  width: 100vw;
  height: 90vh;
  margin: 0 0 10vh 0;
  background: #7c4ddf;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content max-content;
      grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
      grid-template-columns: 1fr max-content max-content;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 500px) {
  .container.landing {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr max-content max-content;
        grid-template-rows: 1fr -webkit-max-content -webkit-max-content;
        grid-template-rows: 1fr max-content max-content;
    overflow-y: auto;
  }
}

.container.landing .image-wrapper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media only screen and (max-width: 500px) {
  .container.landing .image-wrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.container.landing .image-wrapper img {
  max-width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 500px) {
  .container.landing .image-wrapper img {
    max-height: 100%;
    max-width: auto;
  }
}

.container.landing .port {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 11vw;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 4em;
}

@media only screen and (max-width: 500px) {
  .container.landing .port {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: auto;
    height: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .container.landing .port div {
    margin-right: 0 !important;
    margin-left: 20px !important;
    line-height: 0.4em;
  }
}

.container.landing .port div {
  margin-right: 25px;
}

.container.landing .folio {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  color: white;
  width: 11vw;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 4em;
}

@media only screen and (max-width: 500px) {
  .container.landing .folio {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: auto;
    height: auto;
  }
  .container.landing .folio div {
    margin-left: 20px !important;
  }
}

.container.landing .folio div {
  margin-left: 30px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 40vw;
  margin-left: 10vw;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 80vw;
    margin: auto;
  }
}

.container .header {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.container .header .title {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 300;
}

@media only screen and (max-width: 500px) {
  .container .header .title {
    font-size: 1.5em;
    padding: 1em 0;
  }
}

.container .para {
  padding: 30px 0;
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
  text-align: justify;
}

@media only screen and (max-width: 500px) {
  .container .para {
    font-size: 0.6em;
    line-height: 2em;
  }
}

.container .para p {
  padding-left: 10px;
  word-wrap: break-word;
}

.container .bullets ul li {
  line-height: 3em;
}

@media only screen and (max-width: 500px) {
  .container .bullets ul li {
    font-size: 0.6em;
  }
}
/*# sourceMappingURL=portfolio.css.map */