$primary-blue: #283ac4;
$text-black: #272727;
$primary-red: #f64976;
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #ffeeee;

    a {
        text-decoration: none !important;
    }
}

@import "abstracts";
@import "section-1";
@import "section-2";
@import "section-3";
@import "slider";
@import "top-nav";

.section {
    width: 100%;

    &:not(.section--1) {
        margin: 10vh 0;
    }
}
