*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffeeee;
}

body a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
.section--1 {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section--1 {
    /* Styles */
    height: 100vh;
  }
}

.section--1 .tri-square {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .section--1 .tri-square {
    /* Styles */
    top: -33vh;
    left: -10vw;
  }
  .section--1 .tri-square img {
    height: 150vh;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--1 .tri-square {
    /* Styles */
    top: -10vh;
    left: -10vw;
  }
  .section--1 .tri-square img {
    height: 40vh;
  }
}

.section--1 .fancy-writer {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .section--1 .fancy-writer {
    /* Styles */
    height: 60vh;
    margin: 20vh 0 20vh 0;
    top: 0;
    right: 10%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--1 .fancy-writer {
    /* Styles */
    position: relative;
    display: inline-block;
    height: 40vh;
    left: 100%;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
}

.section--1 .container {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  color: #272727;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--1 .container {
    /* Styles */
    width: 80%;
    left: 10%;
    margin-top: 15%;
  }
}

@media only screen and (min-width: 768px) {
  .section--1 .container {
    /* Styles */
    margin-top: 30vh;
    left: 10%;
  }
}

.section--1 .container .heading {
  position: relative;
  font-size: calc( 28px + (48 - 28) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 700;
  margin: 1rem 0;
}

.section--1 .container .sub-heading {
  position: relative;
  font-size: calc( 16px + (22 - 16) * ((100vw - 300px) / (1920 - 300)));
  margin: 1rem 0;
  font-weight: 500;
}

.section--1 .container .button {
  position: relative;
  margin: 1rem 0;
}

.section--1 .container .button .button-in {
  display: inline-block;
  font-weight: 500;
  font-size: calc( 18px + (24 - 18) * ((100vw - 300px) / (1920 - 300)));
  border-radius: 25px;
  padding: 1rem 1.5rem;
  background: #283ac4;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--1 .container .button .button-in {
    /* Styles */
    padding: 0.5rem 1rem;
  }
}

.section--2 {
  position: relative;
}

.section--2 .caption {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: calc( 36px + (72 - 36) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 600;
  color: #f64976;
  width: 90%;
  margin: 0 auto 5vh auto;
}

.section--2 .what-we-do {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  width: 80%;
  margin: auto;
  grid-gap: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--2 .what-we-do {
    /* Styles */
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (max-content)[4];
        grid-template-rows: repeat(4, -webkit-max-content);
        grid-template-rows: repeat(4, max-content);
  }
}

.section--2 .what-we-do .card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  grid-gap: 0.2rem 1rem;
  font-family: "Poppins", sans-serif;
  border: dashed 4px rgba(246, 73, 118, 0.6);
  padding: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--2 .what-we-do .card {
    /* Styles */
    grid-gap: 0 0.2rem;
  }
  .section--2 .what-we-do .card .sl {
    line-height: 100%;
  }
}

.section--2 .what-we-do .card .sl {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: calc( 32px + (50 - 32) * ((100vw - 300px) / (1920 - 300)));
}

.section--2 .what-we-do .card .content {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: calc( 18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
}

.section--3 {
  position: relative;
}

.section--3 .how-we-do {
  position: relative;
  width: 90%;
  margin: auto;
}

.section--3 .how-we-do > .title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: calc( 42px + (72 - 42) * ((100vw - 300px) / (1920 - 300)));
  text-align: right;
  margin: 0 0 10vh 0;
  color: #f64976;
  font-weight: 600;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--3 .how-we-do > .title {
    /* Styles */
    text-align: center;
    margin: 0 0 5vh 0;
  }
}

.section--3 .how-we-do .cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--3 .how-we-do .cards {
    /* Styles */
    width: 90%;
  }
}

.section--3 .how-we-do .cards .card {
  position: relative;
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 768px) {
  .section--3 .how-we-do .cards .card {
    /* Styles */
    grid-gap: 6rem;
    padding: 4rem;
  }
  .section--3 .how-we-do .cards .card:nth-child(odd) {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .section--3 .how-we-do .cards .card:nth-child(odd) .content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section--3 .how-we-do .cards .card:nth-child(odd) .image {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section--3 .how-we-do .cards .card:nth-child(even) {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .section--3 .how-we-do .cards .card:nth-child(even) .content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section--3 .how-we-do .cards .card:nth-child(even) .image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--3 .how-we-do .cards .card {
    /* Styles */
    margin: 2rem 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: max-content 1fr;
        grid-template-rows: -webkit-max-content 1fr;
        grid-template-rows: max-content 1fr;
  }
  .section--3 .how-we-do .cards .card .image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    justify-self: flex-end;
  }
  .section--3 .how-we-do .cards .card .content {
    justify-self: flex-start;
  }
}

.section--3 .how-we-do .cards .card .content {
  position: relative;
  color: #262626;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 768px) {
  .section--3 .how-we-do .cards .card .content {
    /* Styles */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
    -ms-grid-rows: max-content 1fr;
        grid-template-rows: -webkit-max-content 1fr;
        grid-template-rows: max-content 1fr;
  }
  .section--3 .how-we-do .cards .card .content .title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .section--3 .how-we-do .cards .card .content .desc {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--3 .how-we-do .cards .card .content {
    /* Styles */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section--3 .how-we-do .cards .card .content .title {
  position: relative;
  font-size: calc( 36px + (72 - 36) * ((100vw - 300px) / (1920 - 300)));
}

.section--3 .how-we-do .cards .card .content .desc {
  position: relative;
  font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}

.section--3 .how-we-do .cards .card .image {
  position: relative;
}

.section--3 .how-we-do .cards .card .image img {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .section--3 .how-we-do .cards .card .image {
    /* Styles */
    height: 300px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--3 .how-we-do .cards .card .image {
    /* Styles */
    height: 100px;
  }
}

.section--3 .how-we-do .cards .card .mask {
  position: absolute;
  opacity: 0.1;
  height: 450px;
  width: 450px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--3 .how-we-do .cards .card .mask {
    /* Styles */
    left: -15vw;
    top: 50%;
    height: 150px;
    width: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .section--3 .how-we-do .cards .card .mask {
    /* Styles */
  }
  .section--3 .how-we-do .cards .card .mask--1 {
    top: -15%;
    left: 0;
  }
  .section--3 .how-we-do .cards .card .mask--2 {
    right: 0;
    top: -15%;
  }
  .section--3 .how-we-do .cards .card .mask--3 {
    left: -25%;
    height: 600px;
  }
  .section--3 .how-we-do .cards .card .mask--4 {
    right: -30%;
    top: 30%;
    height: auto !important;
    width: 500px !important;
  }
}

.section--4 {
  position: relative;
}

.section--4 .testimonials {
  position: relative;
}

.section--4 .testimonials .caption {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: calc( 32px + (72 - 32) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 500;
  color: #f64976;
}

@media only screen and (min-width: 768px) {
  .section--4 .testimonials .caption {
    /* Styles */
    width: 90%;
    margin: 0 auto 5vh auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .section--4 .testimonials .caption {
    /* Styles */
    width: 80%;
    margin: 0 auto 5vh auto;
  }
}

.section--4 .testimonials .cards {
  position: relative;
  width: 80%;
  margin: auto;
}

.section--4 .testimonials .cards .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--4 .testimonials .cards .card {
  position: relative;
  height: calc( 320px + (450 - 320) * ((100vw - 300px) / (1920 - 300)));
  width: calc( 200px + (400 - 200) * ((100vw - 300px) / (1920 - 300)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10%;
}

.section--4 .testimonials .cards .card .image {
  position: relative;
  margin-bottom: 5%;
  height: calc( 25px + (60 - 25) * ((100vw - 300px) / (1920 - 300)));
}

.section--4 .testimonials .cards .card .image img {
  height: 100%;
}

.section--4 .testimonials .cards .card .content {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-size: calc( 12px + (18 - 12) * ((100vw - 300px) / (1920 - 300)));
}

.section--4 .testimonials .cards .card .content .name {
  position: relative;
  font-weight: 600;
  padding-top: 1rem;
}

.slider {
  position: absolute;
  bottom: 30px;
  background: white;
  -webkit-box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  width: 90%;
  left: 5%;
  right: 5%;
  display: none;
}

.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide {
  height: 100px;
  width: 150px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.slider .slide img {
  height: 100px !important;
  width: 100px !important;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .top-nav {
    /* Styles */
    height: 7vh;
  }
}

.top-nav .burger {
  width: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 2rem;
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .top-nav .burger {
    /* Styles */
    display: block;
  }
}

.top-nav .burger span {
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.top-nav .burger span:nth-child(1) {
  margin-top: 0px;
}

.top-nav .burger span:nth-child(2) {
  margin-top: 5px;
}

.top-nav .burger span:nth-child(3) {
  margin-top: -3px;
}

.top-nav .burger span:nth-child(4) {
  margin-top: 5px;
}

.top-nav ul {
  position: relative;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #262626;
  font-size: calc( 20px + (26 - 20) * ((100vw - 300px) / (1920 - 300)));
}

@media only screen and (min-width: 768px) {
  .top-nav ul {
    /* Styles */
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.2rem 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .top-nav ul {
    /* Styles */
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    background: -webkit-gradient(linear, left top, right top, from(#ff826e), to(#f64976));
    background: linear-gradient(to right, #ff826e, #f64976);
    color: #fff;
  }
}

.top-nav ul li {
  position: relative;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media only screen and (min-width: 768px) {
  .top-nav ul li {
    /* Styles */
    padding: 0;
    margin: 0 2rem;
    height: 100%;
  }
  .top-nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #262626;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .top-nav ul li:hover::before, .top-nav ul li:focus::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .top-nav ul li {
    /* Styles */
    width: 100%;
    height: 4rem;
  }
}

.show-dropdown {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.burger-open span {
  background: white !important;
}

.burger-open span:nth-child(1) {
  width: 0% !important;
  left: 50% !important;
}

.burger-open span:nth-child(2) {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.burger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.burger-open span:nth-child(4) {
  width: 0% !important;
  left: 50% !important;
}

footer {
  position: relative;
}

@media only screen and (min-width: 768px) {
  footer {
    /* Styles */
  }
  footer .bottom {
    position: relative;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (max-content)[5];
        grid-template-rows: repeat(5, -webkit-max-content);
        grid-template-rows: repeat(5, max-content);
    margin: 5vh auto 8vh auto;
    font-family: "Montserrat", sans-serif;
  }
  footer .bottom .title {
    position: relative;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    margin: 2rem 0;
  }
  footer .bottom .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 40%;
  }
  footer .bottom .title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 40%;
  }
  footer .bottom .title .text {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: calc( 26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
  }
  footer .bottom .quick-links {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    margin: 0 0 2rem 0;
  }
  footer .bottom .quick-links .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-transform: uppercase;
  }
  footer .bottom .quick-links .links .linkItems {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links .links .linkItems a {
    position: relative;
    color: #000;
  }
  footer .bottom .address {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    grid-column: span 1/-1;
  }
  footer .bottom .address .text {
    position: relative;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  footer .bottom .address .text > div {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .anirudh {
    position: relative;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    grid-column: span 1/-1;
  }
  footer .bottom .anirudh .content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .anirudh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .anirudh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh {
    position: relative;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  footer .bottom .rishabh .content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .rishabh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .social {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    text-align: center;
  }
  footer .bottom .social .wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .bottom .social .wrapper .icons {
    position: relative;
    height: 30px;
    margin: 0 5px;
  }
  footer .bottom .social .wrapper .icons svg {
    width: auto !important;
  }
  footer .bottom .social .wrapper .icons svg path {
    fill: #000 !important;
  }
  footer .bottom .info {
    position: relative;
    text-align: center;
    font-size: calc( 12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    grid-row: span 1/-1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    margin: 3rem 0;
  }
  footer .bottom .vertical-line {
    position: relative;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  footer .bottom .vertical-line .line {
    position: relative;
    width: 1px;
    height: 80%;
    margin: auto;
    background: #000;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    /* Styles */
  }
  footer .bottom {
    position: relative;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (max-content)[8];
        grid-template-rows: repeat(8, -webkit-max-content);
        grid-template-rows: repeat(8, max-content);
    margin: 5vh auto 8vh auto;
    font-family: "Montserrat", sans-serif;
  }
  footer .bottom .title {
    position: relative;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    margin: 2rem 0 1.5rem 0;
  }
  footer .bottom .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 30%;
  }
  footer .bottom .title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 30%;
  }
  footer .bottom .title .text {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: calc( 26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
  }
  footer .bottom .social {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    text-align: center;
  }
  footer .bottom .social .wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .bottom .social .wrapper .icons {
    position: relative;
    height: 30px;
    margin: 0 5px;
  }
  footer .bottom .social .wrapper .icons svg {
    width: auto !important;
  }
  footer .bottom .social .wrapper .icons svg path {
    fill: #000 !important;
  }
  footer .bottom .vertical-line {
    position: relative;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 2rem 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  footer .bottom .vertical-line .line {
    position: relative;
    width: 1px;
    height: 10vh;
    margin: auto;
    background: #000;
  }
  footer .bottom .address {
    position: relative;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  footer .bottom .address .text {
    position: relative;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  footer .bottom .address .text > div {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links {
    position: relative;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
    margin: 0 0 2rem 0;
  }
  footer .bottom .quick-links .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-transform: uppercase;
  }
  footer .bottom .quick-links .links .linkItems {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links .links .linkItems a {
    position: relative;
    color: #000;
  }
  footer .bottom .anirudh {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / span 1;
  }
  footer .bottom .anirudh .content {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .anirudh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .anirudh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / span 1;
  }
  footer .bottom .rishabh .content {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .rishabh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .info {
    position: relative;
    text-align: center;
    font-size: calc( 12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    grid-row: span 1/-1;
    margin: 3rem 0;
  }
}

.section {
  width: 100%;
}

.section:not(.section--1) {
  margin: 10vh 0;
}
/*# sourceMappingURL=style.css.map */