.back-panel {
    background: linear-gradient(90deg, #ff846f, #fb5575, #fb5575);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0px 0px, 63.12% 0.31%, 43.42% 62.64%, 2px 77.15%);

    @include mq_sp() {
        clip-path: polygon(0px 0px, 100% 0%, 100% 82%, 0px 96%);
    }
}

.section--1 {
    position: relative;

    height: 100vh;

    .fancy-business {
        position: relative;
        height: 55vh;
        display: flex;
        justify-content: flex-end;
        top: 50%;
        transform: translateY(-50%);

        @include mq_sp() {
            display: none;
        }

        img {
            position: relative;
            height: 100%;
        }

        .panel-1 {
            position: absolute;
            height: 100%;
            width: 100%;
            clip-path: polygon(
                0px 0px,
                63.12% 0.31%,
                43.42% 62.64%,
                2px 77.15%
            );
        }
    }

    .container {
        font-family: $primary-font;

        @include mq_dl() {
            left: 5vw;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
        }

        @include mq_sp() {
            position: relative;
            padding-top: 10vh;
            // left: 5%;
            width: 85%;
            margin: auto;
        }

        .heading {
            position: relative;
            @include res-font-size(32, 48);
            font-weight: 600;
            margin: 1rem 0;
            color: $text-white;
        }

        .sub-heading {
            position: relative;
            @include res-font-size(18, 22);
            margin: 1rem 0;
        }

        .sub-text {
            position: relative;
            @include res-font-size(15, 22);

            @include mq_dl() {
                display: none;
            }
        }

        .button {
            position: relative;
            margin: 2rem 0;
            .button-in {
                display: inline-block;
                font-weight: 500;
                @include res-font-size(20, 24);
                border-radius: 25px;
                padding: 1rem 1.5rem;
                background: $primary-blue;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
                box-shadow: 1.8px 3px 14px rgba($color: #000000, $alpha: 0.3);
            }
        }
    }
}
