.cc {
    position: relative;
    width: 100%;
    .background {
        width: 90%;
        margin: auto;

        svg {
            path {
                fill: rgba($color: $primary-blue, $alpha: 0.1);
            }
        }

        @include mq_sp() {
            position: absolute;
        }

        @include mq_rest() {
            position: absolute;
        }
    }

    .content {
        @include mq_dl() {
            position: absolute;
            top: 20%;
            left: 10%;
            width: 40%;
        }

        @include mq_sp() {
            position: relative;
            text-align: center;
        }

        @include mq_rest() {
            position: relative;
            text-align: center;
        }

        .title {
            position: relative;
            @include res-font-size(24, 32);
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: $primary-pink;
            text-transform: uppercase;

            span {
                font-size: 150%;
            }

            @include mq_sp() {
                margin-top: 5%;
            }
        }

        .desc {
            position: relative;
            @include res-font-size(16, 20);
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: $primary-pink;

            @include mq_sp() {
                width: 80%;
                margin: auto;
            }

            @include mq_rest() {
                width: 60%;
                margin: auto;
            }
        }

        .cards {
            position: relative;
            display: inline-grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
            padding: 2rem 0;

            @include mq_sp() {
                grid-gap: 1rem;
                width: 90%;
                margin: auto;
            }

            @include mq_custom(448px, 750px) {
                grid-gap: 2rem;
                width: 60%;
                margin: auto;
            }

            @include mq_custom(750px, 1224px) {
                grid-gap: 2rem;
                width: 50%;
                margin: auto;
            }

            .card {
                position: relative;
                box-shadow: 0 0 10px rgba($color: $primary-pink, $alpha: 0.5);
                font-family: "Poppins", sans-serif;
                text-align: center;
                background: #fcfdff;

                @include mq_sp() {
                    // box-shadow: none;
                }

                .strong {
                    position: relative;
                    @include res-font-size(32, 48);
                    text-transform: uppercase;
                    color: $primary-pink;
                    padding: 2rem 1rem;

                    span {
                        @include res-font-size(28, 42);
                    }
                }
                .text {
                    position: relative;
                    @include res-font-size(14, 22);
                    text-transform: uppercase;
                    padding: 1rem 2rem 2rem 2rem;
                    color: rgba($color: #000, $alpha: 0.8);
                }
            }
        }
    }
}
