.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    box-shadow: 1px 3px 8px rgba($color: #000000, $alpha: 0.37);
    z-index: 100;
    background: linear-gradient(90deg, #ff846f, #fb5575, #fb5575);

    ul {
        position: relative;
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #fff;
        @include res-font-size(18, 24);
        padding: 0.2rem 0;

        li {
            position: relative;
            padding: 1rem 0;
            margin: 0 2rem;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                background: #fff;
                width: 100%;
                transition: all 0.4s ease-in-out;
                transform: scaleX(0);
            }

            &:hover,
            &:focus {
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}
