*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "abstracts";
@import "top-nav";
@import "landing";
@import "what-do-we-do";
@import "how-we-work";
@import "offerings";
@import "cc";

.section {
    width: 100%;
}
