.carouselNAP {
	position: relative;
	display: block;
	top: 20%;
	ul {
		position: relative;
		width: 60vw;
		height: 200px;
		margin: 0.5vh 20vw;
		@include mq(600px) {
			width: 80vw !important;
			margin: 0.2vh 10vw;
		}
	}

	ul > li {
		width: 25%;
		list-style-type: none;
		position: absolute;
		top: 0;
		padding: 20px;
		height: 200px;
		opacity: 0;
		padding-top: 25px;
		text-align: center;
		transition: 1s opacity;

		@include mq(900px) {
			width: 50% !important;
		}

		@include mq(600px) {
			padding: 10px !important;
		}
	}

	.active {
		opacity: 1;
	}

	p {
		font-size: 13px;
		color: $base-black;
		line-height: 1.5rem;
		font-family: "Montserrat", sans-serif;
		letter-spacing: 2px;
		text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
			10px 15px 5px rgba(0, 0, 0, 0.05), -10px 15px 5px rgba(0, 0, 0, 0.05);
	}

	strong {
		color: $base-black;
		font-weight: 500;
		font-size: 60px;
		line-height: 100px;
		font-family: "Montserrat", sans-serif;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background: $base-black;
		}

		@include mq(600px) {
			font-size: 40px !important;
		}
		@include mq(400px) {
			line-height: 60px !important;
		}
	}
}
