.carouselNAP {
	position: relative;
	display: block;
	top: 5%;
	ul {
		position: relative;
		width: 60vw;
		height: 200px;
		margin: 0.5vh 20vw;
		// margin-top: -130px;
	}

	ul > li {
		width: 25%;
		list-style-type: none;
		position: absolute;
		top: 0;
		padding: 20px;
		height: 200px;
		opacity: 0;
		padding-top: 25px;
		text-align: center;
		transition: 1s opacity;
	}

	.active {
		opacity: 1;
	}

	p {
		font-size: 13px;
		// color: #646566
		color: $base-black;
		line-height: 1.5em;
		font-family: "Raleway", sans-serif;
	}

	strong {
		color: $base-black;
		font-weight: 700;
		font-size: 60px;
		line-height: 100px;
	}
}
