.lang-bar {
	position: fixed;
	right: 1vw;
	top: 50vh;
	transform: translateY(-50%);
	display: block;
	z-index: 200;

	@include mq(1024px) {
		display: none !important;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 0;

		li {
			position: relative;
			height: 6vh;
			width: 6vh;
			margin: 5px 0;
			display: grid;
			place-content: center;
			border: 1px solid $base-black;
			border-radius: 50%;
			transition: 500ms ease-in-out;
			font-size: 1.1em;
			color: #fcd116;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 50%;
				background-color: rgba($color: $base-black, $alpha: 1);
				transform: scale(1, 1);
				transform-origin: center;
				transition: transform 400ms ease-in-out;
				z-index: -1;
			}

			&:hover {
				color: $base-black;

				&::after {
					transform: scale(0, 0);
					// transform-origin: left;
				}
			}
		}
	}
}
