.topnav {
	&__nav-logo {
		position: absolute;
		height: 7vh;
		width: 7vh;
		left: 1.5vw;
		top: 50%;
		transform: translateY(-50%);
		fill: rgba($color: $base-black, $alpha: 1);
	}
}

.res-menu {
	&__nav-logo {
		position: absolute;
		top: 2vh;
		left: 30px;
		fill: rgba($color: whitesmoke, $alpha: 1);
		transform-origin: bottom;
	}
}

@keyframes svgLogo {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.big_logo {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 6vh;
	padding-right: 6vw;
	overflow: hidden;
	fill: rgba($color: $base-black, $alpha: 0.4);

	@include mq(1000px) {
		left: 3vw !important;
	}
}
