body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	background-color: #dbbc33;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
	.container {
		width: 90vw;
		margin: 0 5vw;

		#company-name {
			float: left;
			padding: 1vh 0;
		}
		nav {
			float: right;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					margin-left: 4vw;
					padding: 1vh 0;
					position: relative;

					a {
						text-decoration: none;
						text-transform: uppercase;
						padding: 10px;

						&:hover {
							color: yellow;

							&::before {
								transform: scale(1, 1);
							}

							&::after {
								transform: scale(1, 1);
							}
						}

						&::before {
							content: "";
							display: block;
							background-color: rgba($color: #000000, $alpha: 0);
							position: absolute;
							bottom: 0;
							top: 0;
							left: 0;
							right: 0;
							transform: scale(0, 1);
							transition: transform 250ms ease-in;
							border-top: 1px solid black;
							border-bottom: 1px solid black;
						}

						&::after {
							content: "";
							display: block;
							background-color: rgba($color: #000000, $alpha: 0);
							position: absolute;
							bottom: 0;
							top: 0;
							left: 0;
							right: 0;
							transform: scale(1, 0);
							transition: transform 250ms ease-in;
							border-left: 1px solid black;
							border-right: 1px solid black;
						}
					}
				}
			}
		}
	}
}
