@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.bg-cards {
  display: block;
  height: 100vh;
  position: relative;
}

.card1 {
  width: 100vw;
  background-color: #fcd116;
}

.card2 {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9vh;
  background-color: #fcd116;
}

.topnav .logo {
  margin-left: 4em;
}

.topnav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  margin-right: 8em;
}

.topnav .nav-links li {
  list-style-type: none;
  position: relative;
}

.topnav .nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #141414;
}

.topnav .nav-links li a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.topnav .nav-links li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.topnav .nav-links li a::before {
  content: "";
  display: block;
  background-color: rgba(20, 20, 20, 0);
  position: absolute;
  bottom: -14px;
  top: -14px;
  left: -14px;
  right: -14px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
}

.topnav .nav-links li a::after {
  content: "";
  display: block;
  background-color: rgba(20, 20, 20, 0);
  position: absolute;
  bottom: -14px;
  top: -14px;
  left: -14px;
  right: -14px;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  border-left: 1px solid #141414;
  border-right: 1px solid #141414;
}

.topnav .burger {
  display: none;
  cursor: pointer;
}

.topnav .burger div {
  width: 25px;
  height: 3px;
  background-color: #141414;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 40vh;
    top: 8vh;
    background-color: #f3db70;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .burger {
    display: block !important;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
#fallingLetters {
  margin-top: 10vh;
  height: 50vh;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Mina, Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  left: 0;
}

#fallingLetters main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fallingLetters main p {
  text-align: center;
  margin-top: 5vh;
  padding: 0 2rem;
  max-width: 30rem;
  line-height: 1.4;
}

#fallingLetters main div {
  position: absolute;
  top: 5vh;
  left: 0;
  text-transform: uppercase;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
  font-size: 3vh;
  font-weight: 1;
}

#fallingLetters main div span {
  position: absolute;
  display: block;
  -webkit-animation: waver 2s infinite alternate ease-in-out;
  animation: waver 2s infinite alternate ease-in-out;
  -webkit-perspective: 300px;
  perspective: 300px;
}

#fallingLetters main div span b {
  display: block;
  padding: 2.5vh;
  z-index: 0;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

#fallingLetters main div .popped {
  opacity: 0;
}

#fallingLetters main div .popped span {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#fallingLetters main div .popped span b {
  opacity: 0;
}

#fallingLetters main div .missed {
  opacity: 0;
}

#fallingLetters main div .missed span {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
    transform: translate3d(6vw, 0, 0);
  }
}

@keyframes waver {
  100% {
    -webkit-transform: translate3d(6vw, 0, 0);
    transform: translate3d(6vw, 0, 0);
  }
}

.btn {
  padding: 0.5em;
  position: relative;
  background: rgba(0, 0, 0, 0);
}

#first-btns {
  position: absolute;
  left: 15em;
  bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-btns .first-btns {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 4em;
  padding: 0;
  border-style: none;
  color: #141414;
  font-size: 1.8em;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#first-btns .first-btns::before {
  content: "→  ";
  display: block;
  position: absolute;
  left: -2em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#first-btns .first-btns::after {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #141414;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#first-btns .first-btns:hover {
  -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

#first-btns .first-btns:hover::before {
  -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

#first-btns .first-btns:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#brand-text {
  position: relative;
  top: 3.5em;
  margin-left: 1.6em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 7em;
}

#brand-text #pepper-text {
  display: block;
  position: relative;
  float: left;
  clear: left;
  font-family: "Special Elite", cursive;
}

#brand-text #tagline {
  position: relative;
  display: block;
  float: left;
  clear: left;
  margin-top: 1.1em;
  word-wrap: break-word;
  font-size: 0.2em;
}

#brand-text #tagline::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -0.8em;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

#brand-text #tagline::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -0.8em;
  width: 100%;
  height: 2px;
  background-color: #141414;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

#brand-text #tagline:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transform-origin: right;
          transform-origin: right;
}

#brand-text #tagline:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.lang-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50vh;
  right: 2em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.lang-bar ul {
  list-style: none;
}

.lang-bar ul li {
  position: relative;
  height: 3.5em;
  width: 3.5em;
  margin: 1em 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: 1px solid #141414;
  border-radius: 50%;
  -webkit-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  color: #fcd116;
  font-size: 1.1em;
}

.lang-bar ul li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background-color: #141414;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  z-index: -1;
}

.lang-bar ul li:hover {
  color: #141414;
}

.lang-bar ul li:hover::after {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

.card2 #newAtPepper {
  padding: 4em 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(51, 51, 51, 0.08);
}

.card2 #newAtPepper section {
  position: relative;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.card2 #newAtPepper section::before {
  content: "";
  display: block;
  position: relative;
  left: -84%;
  top: 50%;
  width: 15vw;
  height: 2px;
  background-color: #141414;
}

.card2 #newAtPepper section::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -84%;
  top: 50%;
  width: 15vw;
  height: 2px;
  background-color: #141414;
}

.card2 .carouselNAP {
  position: relative;
  display: block;
  top: 5%;
}

.card2 .carouselNAP ul {
  position: relative;
  width: 60vw;
  height: 200px;
  margin: 0.5vh 20vw;
}

.card2 .carouselNAP ul > li {
  width: 25%;
  list-style-type: none;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 200px;
  opacity: 0;
  padding-top: 40px;
  text-align: center;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.card2 .carouselNAP .active {
  opacity: 1;
}

.card2 .carouselNAP p {
  font-size: 13px;
  color: #141414;
  line-height: 1.5em;
}

.card2 .carouselNAP strong {
  color: #141414;
  font-weight: 700;
  font-size: 60px;
  line-height: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/*# sourceMappingURL=style.css.map */