body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fcd116;
}

header {
	background-color: rgba($color: #ffffff, $alpha: 0);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	// Use if header is position != fixed
	// &::after {
	// 	content: "";
	// 	display: table;
	// 	clear: both;
	// }

	.container {
		position: relative;
		width: 90vw;
		margin: 0 6em;
		position: relative;
		overflow: hidden;

		#company-name {
			float: left;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		nav {
			float: right;
			position: relative;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					float: left;
					// margin-left: 4vw;
					padding: 2em 2.5em;
					position: relative;

					a {
						text-decoration: none;
						text-transform: uppercase;
						// padding: 10px;
						font-family: "Work Sans", sans-serif;
						color: black;

						&:hover {
							&::before {
								transform: scale(1, 1);
							}

							&::after {
								transform: scale(1, 1);
							}
						}

						&::before {
							content: "";
							display: block;
							background-color: rgba($color: #000000, $alpha: 0);
							position: absolute;
							bottom: 1em;
							top: 1em;
							left: 1em;
							right: 1em;
							transform: scale(0, 1);
							transition: transform 250ms ease-in;
							border-top: 1px solid black;
							border-bottom: 1px solid black;
						}

						&::after {
							content: "";
							display: block;
							background-color: rgba($color: #000000, $alpha: 0);
							position: absolute;
							bottom: 1em;
							top: 1em;
							left: 1em;
							right: 1em;
							transform: scale(1, 0);
							transition: transform 250ms ease-in;
							border-left: 1px solid black;
							border-right: 1px solid black;
						}
					}
				}
			}
		}
	}
}

#fallingLetters {
	margin-top: 10vh;
	height: 50vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	font-family: Mina, Roboto, "Helvetica Neue", sans-serif;
	position: absolute;
	top: 0;
	left: 0;

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			text-align: center;
			margin-top: 5vh;
			padding: 0 2rem;
			max-width: 30rem;
			line-height: 1.4;
		}

		div {
			position: absolute;
			top: 5vh;
			left: 0;
			text-transform: uppercase;
			-webkit-perspective: 300px;
			perspective: 300px;
			transition: opacity 0.7s ease-in;
			font-size: 3vh;
			font-weight: 1;

			span {
				position: absolute;
				display: block;
				-webkit-animation: waver 2s infinite alternate ease-in-out;
				animation: waver 2s infinite alternate ease-in-out;
				-webkit-perspective: 300px;
				perspective: 300px;

				b {
					display: block;
					padding: 2.5vh;
					z-index: 0;
					transition: opacity 0.25s linear;
				}
			}

			.popped {
				opacity: 0;

				span {
					-webkit-animation-play-state: paused;
					animation-play-state: paused;

					b {
						opacity: 0;
					}
				}
			}

			.missed {
				opacity: 0;

				span {
					-webkit-animation-play-state: paused;
					animation-play-state: paused;
				}
			}
		}
	}
}

@-webkit-keyframes waver {
	100% {
		-webkit-transform: translate3d(6vw, 0, 0);
		transform: translate3d(6vw, 0, 0);
	}
}

@keyframes waver {
	100% {
		-webkit-transform: translate3d(6vw, 0, 0);
		transform: translate3d(6vw, 0, 0);
	}
}

.btn {
	padding: 0.5em;
	position: relative;
	background: rgba(0, 0, 0, 0);

	&:not(:last-of-type) {
		margin-bottom: 0.6em;
	}
}

#first-btns {
	position: absolute;
	bottom: 8em;
	width: 100%;
	display: flex;
	place-content: center;

	.first-btns {
		display: inline-block;
		text-transform: uppercase;
		margin: 0 4em;
		width: 8em;
		height: 4em;
		color: black;
		font-weight: 400;
		font-family: "Work Sans", sans-serif;
		border: 2px solid black;
		border-radius: 4px;
		transition: color 500ms ease-in-out;
		&::after {
			content: "";
			display: block;
			background-color: rgba($color: #000000, $alpha: 1);
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			transform: scale(0, 1);
			transform-origin: right;
			transition: transform 500ms ease;
			z-index: -1;
		}
		&:hover {
			color: #fcd116;
			&::after {
				transform: scale(1, 1);
				transform-origin: left;
			}
		}
	}
}

#pepper-text {
	position: relative;
	font-family: "Special Elite", cursive;
	top: 7em;
	margin-left: 4em;
	transform: translateY(-50%);
	font-size: 3.5em;

	h1 {
		display: inline-block;
		position: relative;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 400ms ease-in-out;
		}

		&:hover {
			&::after {
				transform: scaleX(1);
			}
		}
	}
}

.lang-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 50vh;
	right: 3em;
	transform: translateY(-50%);
	z-index: 2;
	ul {
		list-style: none;

		li {
			position: relative;
			height: 3.5em;
			width: 3.5em;
			margin: 1em 0;
			display: grid;
			place-content: center;
			border: 1px solid black;
			border-radius: 50%;
			transition: color 500ms ease-in-out;
			color: #fcd116;
			font-size: 1.1em;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 50%;
				background-color: rgba($color: #000000, $alpha: 1);
				transform: scale(1, 1);
				transform-origin: center;
				transition: transform 400ms ease-in-out;
				z-index: -1;
			}

			&:hover {
				color: black;
				&::after {
					transform: scale(0, 0);
					// transform-origin: left;
				}
			}
		}
	}
}
// @media all and (max-width: 30em) {
// 	.btn {
// 		 display: block;
// 		 margin: 0.4em auto;
// 	}
// }
