$base-yellow: #fcd116;
$base-grey: #333333;
$base-black: #141414;

@import "abstracts";
@import "nav";
@import "pepper-text";
@import "lang-bar";
@import "falling-letters";
@import "portfolio";
@import "carousel";
@import "new-at-pepper";
@import "buttons";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: "Work Sans", sans-serif;
	font-family: "Raleway", sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	cursor: default;
}

.bg-card {
	display: block;
	position: relative;

	&--card1 {
		width: 100vw;
		background-color: $base-yellow;
		height: 100vh;
		// box-shadow: 0 10px 6px -6px #777;
	}

	&--card2 {
		width: 100vw;
		height: 65vh;
		background-color: rgba($color: #000000, $alpha: 0);
	}
}

.scroll-progress-bar {
	position: fixed;
	top: 7vh;
	left: 0;
	height: 4px;
	background: $base-black;
}
