$base-yellow: #fcd116;
$base-grey: #333333;
$base-black: #141414;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: "Work Sans", sans-serif;
	font-family: "Raleway", sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	cursor: default;
}

.bg-cards {
	display: block;
	height: 100vh;
	position: relative;
}

.card1 {
	width: 100vw;
	background-color: $base-yellow;
	// box-shadow: 0 10px 6px -6px #777;
}

.card2 {
	width: 100vw;
	background-color: rgba($color: #000000, $alpha: 0);
}

.scroll-progress-bar {
	position: fixed;
	top: 7vh;
	left: 0;
	height: 4px;
	background: $base-black;
}

.topnav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 7vh;
	background: $base-yellow;
	z-index: 100;
	box-shadow: 0 6px 6px -6px black;

	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 30%;
		margin-right: 1%;
		letter-spacing: 2px;

		li {
			list-style-type: none;
			position: relative;

			a {
				text-decoration: none;
				text-transform: uppercase;
				color: $base-black;

				&:hover {
					&::before {
						transform: scale(1, 1);
					}

					&::after {
						transform: scale(1, 1);
					}
				}

				&::before {
					content: "";
					display: block;
					background-color: rgba($color: $base-black, $alpha: 0);
					position: absolute;
					bottom: -14px;
					top: -14px;
					left: -14px;
					right: -14px;
					transform: scale(0, 1);
					transition: transform 250ms ease-in;
					border-top: 1px solid $base-black;
					border-bottom: 1px solid $base-black;
				}

				&::after {
					content: "";
					display: block;
					background-color: rgba($color: $base-black, $alpha: 0);
					position: absolute;
					bottom: -14px;
					top: -14px;
					left: -14px;
					right: -14px;
					transform: scale(1, 0);
					transition: transform 250ms ease-in;
					border-left: 1px solid $base-black;
					border-right: 1px solid $base-black;
				}
			}
		}
	}

	#burger {
		display: none;
		width: 30px;
		height: 45px;
		position: relative;
		right: 25px;
		top: 10px;
		// margin: 50px auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: $base-black;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.25s ease-in-out;
			-moz-transition: 0.25s ease-in-out;
			-o-transition: 0.25s ease-in-out;
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 10px;
			}
			&:nth-child(4) {
				top: 20px;
			}
		}
	}
}

.open span {
	background: white !important;

	&:nth-child(1) {
		top: 18px !important;
		width: 0% !important;
		left: 50% !important;
	}
	&:nth-child(2) {
		transform: rotate(45deg) !important;
	}
	&:nth-child(3) {
		transform: rotate(-45deg) !important;
	}
	&:nth-child(4) {
		top: 18px !important;
		width: 0% !important;
		left: 50% !important;
	}
}
@media screen and (max-width: 1024px) {
	.lang-bar {
		display: none !important;
	}
	.nav-links {
		position: absolute;
		right: 0;
		height: 100vh;
		top: 0;
		width: 100vw !important;
		margin: 0 0 0 0 !important;
		background-color: $base-black;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
		a {
			color: white !important;
		}
	}

	.burger {
		display: block !important;
	}

	.nav-active {
		transform: translateX(0%);
	}
}

@keyframes navLinkFade {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

#brand-text {
	position: relative;
	top: 40%;
	margin-left: 9%;
	margin-right: 0;
	font-size: 700%;
	overflow: hidden;

	#pepper-text {
		display: block;
		position: relative;
		float: left;
		clear: left;
		font-family: "Special Elite", cursive;
	}

	#tagline {
		position: relative;
		display: block;
		float: left;
		clear: left;
		margin-top: 1.1em;
		word-wrap: break-word;
		font-size: 0.2em;
		cursor: pointer;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: -0.8em;
			width: 100%;
			height: 2px;
			background-color: #000;
			transform: scaleX(1);
			transform-origin: left;
			transition: transform 400ms ease-in-out;
			transition-delay: 300ms;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: -0.8em;
			width: 100%;
			height: 2px;
			background-color: $base-black;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 400ms ease-in-out;
			transition-delay: 0ms;
		}

		&:hover {
			&::after {
				transform: scaleX(0);
				transition-delay: 0ms;
				transform-origin: right;
			}
			&::before {
				transform: scaleX(1);
				transition-delay: 300ms;
				transform-origin: left;
			}
		}
	}
}

// buttons
.btn-1-1 {
	position: relative;
	left: calc(9% + 45px);
	top: 48%;

	a {
		text-decoration: none;
		color: $base-black;
		letter-spacing: 1px;
	}
	.btn-1-1-2 {
		position: relative;
		display: block;
		float: left;
		clear: left;
		font-size: 180%;
		margin-bottom: 2%;
		padding-bottom: 10px;
		transition: all 400ms ease-in-out;

		&::before {
			content: "→";
			position: absolute;
			left: -45px;
			transition: all 400ms ease-in-out;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $base-black;
			transform: scaleX(0);
			transform-origin: left;
			transition: all 300ms ease-in-out;
		}

		&:hover {
			transform: translateX(8px);
			&::after {
				transform: scaleX(1);
			}

			&::before {
				transform: translateX(5px);
			}
		}
	}
}
.lang-bar {
	position: fixed;
	top: 3.5vh;
	transform: translateY(-50%);
	display: block;
	flex-direction: row;
	left: 10px;
	z-index: 200;
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 0;

		li {
			position: relative;
			height: 4.2vh;
			width: 4.2vh;
			margin: 0 5px;
			display: grid;
			place-content: center;
			border: 1px solid $base-black;
			border-radius: 50%;
			transition: 500ms ease-in-out;
			color: #fcd116;
			font-size: 1.1em;

			span {
				color: white;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 50%;
				background-color: rgba($color: $base-black, $alpha: 1);
				transform: scale(1, 1);
				transform-origin: center;
				transition: transform 400ms ease-in-out;
				z-index: -1;
			}

			&:hover {
				color: $base-black;
				&::after {
					transform: scale(0, 0);
					// transform-origin: left;
				}
			}
		}
	}
}

.card2 {
	background: #e9e8e8;
	#newAtPepper {
		padding: 7em 0 0 0;
		position: relative;
		width: 100%;
		display: grid;
		place-content: center;
		section {
			position: relative;
			font-size: 2em;
			font-family: "Montserrat", sans-serif;
			cursor: default;
			text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
				10px 15px 5px rgba(0, 0, 0, 0.05), -10px 15px 5px rgba(0, 0, 0, 0.05);
			transition: all 300ms ease-in-out;

			&::before {
				content: "";
				position: absolute;
				top: -15px;
				bottom: -15px;
				left: -15px;
				right: -15px;
				border: 2px solid $base-black;
				box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1),
					10px 15px 5px rgba(0, 0, 0, 0.05), -10px 15px 5px rgba(0, 0, 0, 0.05);
				transition: all 300ms ease-in-out;
			}

			&:hover {
				text-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1),
					10px 25px 5px rgba(0, 0, 0, 0.05), -10px 25px 5px rgba(0, 0, 0, 0.05);

				&::before {
					box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1),
						10px 25px 5px rgba(0, 0, 0, 0.05),
						-10px 25px 5px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}

	.carouselNAP {
		position: relative;
		display: block;
		top: 5%;
		ul {
			position: relative;
			width: 60vw;
			height: 200px;
			margin: 0.5vh 20vw;
			// margin-top: -130px;
		}

		ul > li {
			width: 25%;
			list-style-type: none;
			position: absolute;
			top: 0;
			padding: 20px;
			height: 200px;
			opacity: 0;
			padding-top: 25px;
			text-align: center;
			transition: 1s opacity;
		}

		.active {
			opacity: 1;
		}

		p {
			font-size: 13px;
			// color: #646566
			color: $base-black;
			line-height: 1.5em;
			font-family: "Raleway", sans-serif;
		}

		strong {
			color: $base-black;
			font-weight: 700;
			font-size: 60px;
			line-height: 100px;
		}
	}
}

// portfolio
.portfolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	// grid-auto-rows: 300px;
	// grid-auto-flow: dense;
	padding: 7em 0;
	position: relative;
	margin-top: 12vh;
	// margin: 0 5px;
}

.card {
	position: relative;
	background: black;
	&::before {
		content: "";
		position: absolute;
		top: 1.25em;
		bottom: 1.25em;
		left: 1.25em;
		right: 1.25em;
		opacity: 1;
		transition: transform ease-out 250ms;
	}
	&::after {
		content: "";
		position: absolute;
		top: 1.25em;
		bottom: 1.25em;
		left: 1.25em;
		right: 1.25em;
		opacity: 1;
		transition: transform ease-out 250ms;
	}

	&::before {
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		transform: scale(0, 1);
	}

	&::after {
		border-left: 1px solid white;
		border-right: 1px solid white;
		transform: scale(1, 0);
	}

	&:hover {
		.card__text {
			opacity: 1;
		}
		&::before {
			transform: scale(1.05, 1);
		}

		&::after {
			transform: scale(1, 1.05);
		}

		img {
			opacity: 0.5;
		}
	}
	.card__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		opacity: 0;
		transition: opacity ease-out 250ms;
	}

	.card__title {
		font-size: 2rem;
		color: white;
		margin-bottom: 0;
	}
}

.portfolio__image {
	width: 100%;
	display: block;
	transition: opacity ease-out 250ms;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}
// @media all and (max-width: 30em) {
// 	.btn {
// 		 display: block;
// 		 margin: 0.4em auto;
// 	}
// }

#fallingLetters {
	margin-top: 10vh;
	height: 50vh;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	font-family: Mina, Roboto, "Helvetica Neue", sans-serif;
	position: absolute;
	left: 0;

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			text-align: center;
			margin-top: 5vh;
			padding: 0 2rem;
			max-width: 30rem;
			line-height: 1.4;
		}

		div {
			position: absolute;
			top: 5vh;
			left: 0;
			text-transform: uppercase;
			-webkit-perspective: 300px;
			perspective: 300px;
			transition: opacity 0.7s ease-in;
			font-size: 3vh;
			font-weight: 1;

			span {
				position: absolute;
				display: block;
				-webkit-animation: waver 2s infinite alternate ease-in-out;
				animation: waver 2s infinite alternate ease-in-out;
				-webkit-perspective: 300px;
				perspective: 300px;

				b {
					display: block;
					padding: 2.5vh;
					z-index: 0;
					transition: opacity 0.25s linear;
				}
			}

			.popped {
				opacity: 0;

				span {
					-webkit-animation-play-state: paused;
					animation-play-state: paused;

					b {
						opacity: 0;
					}
				}
			}

			.missed {
				opacity: 0;

				span {
					-webkit-animation-play-state: paused;
					animation-play-state: paused;
				}
			}
		}
	}
}

@-webkit-keyframes waver {
	100% {
		-webkit-transform: translate3d(6vw, 0, 0);
		transform: translate3d(6vw, 0, 0);
	}
}

@keyframes waver {
	100% {
		-webkit-transform: translate3d(6vw, 0, 0);
		transform: translate3d(6vw, 0, 0);
	}
}
